// 工具类
.margin {
  &-top {
    &-8 {
      margin-top: 8px;
    }
    &-16 {
      margin-top: 16px;
    }
    &-24 {
      margin-top: 24px;
    }
    &-32 {
      margin-top: 32px;
    }
  }
  &-bottom {
    &-8 {
      margin-bottom: 8px;
    }
    &-16 {
      margin-bottom: 16px;
    }
    &-24 {
      margin-bottom: 24px;
    }
    &-32 {
      margin-bottom: 32px;
    }
  }
}
.padding {
  &-top {
    &-8 {
      padding-top: 8px;
    }
    &-16 {
      padding-top: 16px;
    }
    &-24 {
      padding-top: 24px;
    }
    &-32 {
      padding-top: 32px;
    }
  }
  &-bottom {
    &-8 {
      padding-bottom: 8px;
    }
    &-16 {
      padding-bottom: 16px;
    }
    &-24 {
      padding-bottom: 24px;
    }
    &-32 {
      padding-bottom: 32px;
    }
  }
}


// 列表样式类
.nsc-list {
  &-header, &-footer {
    display: flex;
    &-left {
      flex: 1;
    }
    &-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}